<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">"Without Darkness there is no Light, without Light there is no Darkness"</h2>
                <hr class="light">
                <p class="text-faded">—Shae Dean Barry</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>
