<section id="services">
    <div class="about" id="About">
        <div class="leftAbout">
            <h2>The Black Is Back!</h2>
            <p>My work features darkness where there is light within it. The depth of space in the universe is the perfect balance of this. My label DICIB? involves the juxtaposition of those properties and has been in the past 35 yrs. The pieces I create incorporates both light and dark with couture and technology as a means of the creation. I want to show that technology can be used in a way that can enhance the beauty and mystery of a piece of clothing without compromising comfort, movement, and wear-ability. My focus is to bring light to life in a unique way where Couture sewing techniques will be married with how the technology is used. LED and computer programming will be the accent to the clean lines of the silhouette.</p>
        </div>
        <div class="rightAbout">
            <img src="img/about-img.jpg" alt="">
        </div>
    </div>

    <div class="about2">
        <div class="leftAbout2">
            <h2>Does It Come In Black?</h2>
            <p>DICIB is the vision of Shae Dean Barry, and his dream of making striking clothing for strong men and women in both a Custom Couture method and also a ready-to-wear way. Although the retail location is now gone, Shae is excited to push his true vision forward in a much stronger way and doing it his way this time. Shae will still be doing custom work, but will ONLY do Bridal and Grad by SPECIAL REQUEST ONLY. DICIB? is not only about fashion, it's about feeling good and empowered in your clothing. So, leave the RULES of fashion and the NORMAL behind, and step into a new way of looking at yourself and the way you feel you need to dress..... it's not always about trends, it's about being a unique person all your own.... keep your eyes open for a whole new DICIB?....</p>
        </div>
        <div class="rightAbout2">
            <img src="img/image-box.jpg" alt="">
        </div>
    </div>

    
</section>
